<div class="container" id="secrets-list">
  <nav class="panel">

    <p class="panel-heading">
      <span>Secrets List</span>
      <%= link_to 'Add', routes.new_secret_path, class: 'button is-link' %>
    </p>

    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input is-medium" type="text" placeholder="search">
        <span class="icon is-small is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>

    <p class="panel-tabs">
      <a class="is-active">All</a>
      <a>Admin</a>
      <a>SSH</a>
      <a>FTP</a>
      <a>Other</a>
    </p>

    <% if secrets.any? %>

      <div class="secret-items">
        <% secrets.each do |secret| %>
          <div class="panel-block">
            <div class="secret-item">
              <% unless secret.title.nil? %>
                <div class="secret-item__title">
                  <span class="icon is-small is-left">
                    <i class="fas fa-comment" aria-hidden="true"></i>
                  </span>
                  <span>
                    <%= secret.title %>
                  </span>
                </div>
              <% end %>
              <div class="secret-item__login">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock" aria-hidden="true"></i>
                </span>
                <span>
                  <%= secret.login %>
                </span>
              </div>
              <div class="secret-item__secret">
                <span class="icon is-small is-left">
                  <i class="fas fa-key" aria-hidden="true"></i>
                </span>
                <span>
                  <%=h secret.decrypted_secret %>
                </span>
              </div>
              <div class="secret-item__delete">
              <%= 
                form_for :secret, routes.secret_path(secret.id), method: :delete do
                  hidden_field :id, value: secret.id
                  submit '', class: 'secret-delete' do
                    html.i('', class: 'fas fa-trash')
                  end
                end
              %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    <% else %>

      <div class="panel-block">No secrets stored yet.</div>

    <% end %>
  </nav>
</div>
