<div class="container" id="secrets-list">
  <nav class="panel">

    <p class="panel-heading">
      <span>Secrets List</span>
      <%= link_to 'Add', routes.new_secret_path, class: 'button is-link' %>
    </p>

    <div class="panel-block search">
      <p class="control has-icons-left">
        <input id="search" class="input is-medium" type="text" placeholder="search">
        <span class="icon is-small is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>

    <p class="panel-tabs">

      <a class="category is-active" data-id="all">All</a>
      
      <% categories.each do |category| %>
        <a class="category" data-id="<%= category.id %>"><%= category.title %></a>
      <% end %>

    </p>

    <% if secrets.any? %>

      <div class="secret-items">
        <% secrets.each do |secret| %>
          <div class="panel-block secret-item" data-category="<%= secret.category_id %>">
            <% unless secret.title.nil? %>
              <div class="secret-item__title">
                <span class="icon is-small is-left">
                  <i class="fas fa-comment" aria-hidden="true"></i>
                </span>
                <span class="search-item">
                  <%= secret.title %>
                </span>
              </div>
            <% end %>
            <div class="secret-item__login">
              <span class="icon is-small is-left">
                <i class="fas fa-lock" aria-hidden="true"></i>
              </span>
              <span class="search-item">
                <%= secret.login %>
              </span>
            </div>
            <div class="secret-item__secret">
              <span class="icon is-small is-left">
                <i class="fas fa-key" aria-hidden="true"></i>
              </span>
              <span class="search-item">
                <%=h secret.decrypted_secret %>
              </span>
            </div>
            <div class="secret-item__delete">
              <%= 
                form_for :secret, routes.secret_path(secret.id), method: :delete, id: nil do
                  submit '', class: 'secret-delete' do
                    html.i('', class: 'fas fa-trash')
                  end
                end
              %>
            </div>   
          </div>
        <% end %>
      </div>

    <% else %>

      <div class="panel-block">No secrets stored yet.</div>

    <% end %>
  </nav>
</div>
