<!DOCTYPE html>
<html>
  <head>
    <title>Secret Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon %>
    <%= stylesheet 'styles' %>
    <%= javascript 'index' %>
  </head>
  <body>
    <%= render partial: 'shared/header' %>
    <section class="section">
      <%= yield %>
    </section>
  </body>
</html>
